/* for variable practice */
:root {
    --link-visited-color: orange;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 100vw;
}

.lh-side {
    display: flex;
    flex-direction: column;
    position: relative; 
    background-image: url('./images/background.jpg');
    background-size: cover;
    width: 90vw;
    height: 100vh;
    align-items: center;
    justify-content: center;

}

.photo-credit {
    margin-top: auto; /* push to bottom of div */
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    
}

.lh-side p, .lh-side a {
    color: white;
}

.lh-side a:visited {
    color: var(--link-visited-color);
}

.odin-logo-background {
    background-color: black;
    opacity: 0.5;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.odin-logo-background p {
    font-size: 4.5rem;
    margin: 0;
    padding: 0;
}

.odin-logo-background img {
    width: 85px;
    height: auto;
}

.rh-side {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rh-side > div {
    flex: 1;
}

.sign-up-text {
    font-size: 1.5rem;
    padding: 40px;
}

label, input {
    display: block;
}

.input-div {
    background-color: white;
    padding: 20px 40px;
    box-shadow: 0px 5px 5px rgb(0 0 0 / 15%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.input-div label {
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-div p {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

#sign-up-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#sign-up-form div {
    flex-basis: 30%;
}

#sign-up-form input:focus {
    border-color: orange;
    border-radius: 5px;
    border-style: solid;
    outline: none;
    box-shadow: 0px 5px 5px rgb(0 0 0 / 15%);
}

.button-div {
    margin: 30px;
    flex-shrink: 1;
}

#create-account {
    padding: 10px 40px;
    font-size: 1rem;
    border-radius:10px;
    border-style: none;
    background-color: orange;
    font-weight: bold;
}

.rh-side a:visited {
    color: blue;
}

.error {
    border-color: red;
    border-radius: 5px;
    border-style: solid;
    outline: none;
}
